body{
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
}
.zone{
    cursor:pointer;
    border: 1px solid #bbb;
    font-size: 2em;
    border-radius: 1px;
    transition: all 0.3s linear;
}
.zone:hover{
    transform: scale(1.01);
    box-shadow: rgba(0,0,0,0.8)0 2px 15px, inset rgba(0,0,0,0.1) 0 -2px 15px;
}
.green{
    background: linear-gradient(rgb(6, 70, 6),rgb(6, 241, 6));
}
 /***NAVBAR***/
.main-nav{
    display:flex;
    list-style:none;
    font-size: 1.5rem;
    margin: 0;
}
.sticky{
    position: fixed;
    top:0;
    width:100%;
}
@media only screen and (max-width:600px){
    .main-nav{
        font-size: 1.1rem;
        padding: 0;
    }
}
li{
    padding:10px;
}
a{
    color:#f5f5f6; 
    text-decoration: none;
}
.push{
    width:3rem;
    margin-right: auto;
}

 /***COVER***/
.container{
    margin-top: 3rem;
    display:flex;
    align-items: center;
    justify-content: center;
    height:70vh;
}
img{
    height: 100%;
    width:100%;
}
.profession{
    position: absolute;
    color: rgb(102, 101, 101);
    top:3rem;
    font-size: small;
    text-align: center;
}
/***FOOTER***/
.footer{
    width:100%;
    text-align: center;
    background-color:  rgb(184, 181, 181);
}
.btn{
    display:inline-block;
    padding:10px 30px;
    text-decoration: none;
    border-radius: 200rem;
    color:#fff;
    margin-top: 3px;
    margin-bottom: 5px;
}
.btn:hover{
    background-color: #66650e;
}
.btn1{
    border: 1px solid rgb(97, 97, 252);
    color:rgb(39, 39, 238);
    font-size: 1rem;
}
.btn3{
    background-color: rgb(108, 236, 108);
    font-size: 1rem;
}
/***ABOUT***/
.logo1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
    width:10rem;
    height: 10rem;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}
.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-family: monospace;
}
.scope{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3% 20%;
    color:rgb(101, 101, 241)
}
.bio,.web{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: start;
    padding: 3rem 1rem;
    font-size: 1.1rem;
    line-height: 2rem;
}
.abio,.aweb{
    color:rgb(90, 90, 245);
}
a:hover{
    text-decoration: underline;
}
.btn4{
    background-color: rgb(108, 236, 108);
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
}
/*CAROUSEL SLIDE*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
h4{
    font-size:1rem;
}

/* Hide the images by default */
.mySlides {
     display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.tex{
    padding-top:1.5rem;
    padding-bottom:0.9rem;
    text-align: center;
    font-size: 1.2rem;
}

/* The dots/bullets/indicators */
.dot, .fade{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade img {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  border-radius: 50%;
}
.fade{
    padding-top:3rem;
    width:35%;
    height: 35%;
    margin: auto 34%;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*PROJECTS*/
.grid-wrapper{
    margin-top:3rem;
    display:grid;
    grid-gap:10px;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
}
.box > img{
    width:100%;
}
.box{
    background-color: rgb(129, 114, 146);
    padding:0 80px 80px 80px;
    margin:20px;
}
.blue{
    background-color: rgb(173, 173, 224);
}
.p-link{
    font-size:1rem;
}