body{
    margin:auto 0px;
    background-image: url(img.jpeg);
    background-size: cover; 
    background-repeat: no-repeat; 
}
.top,.middle{
    display:grid;
    text-align: center;
}
.top,.lastdiv,.middle,.cumulative-inc,.cumulative-exp,.income{
    padding-top: 1.3%;
}
span{
    margin:1.3%;
}
.inc{
    font-size: 2.5rem;
}
.budget-title{
    font-size: 3rem;
}
.color{
    font-size: 1rem;
    color: #fff;
}
.row{
    font-size: 2rem;
}
.cumulative-exp{
    background-color: rgb=(109, 50, 50);
    color:#fff;
}
.cumulative-inc{
    background-color: rg(39, 41, 39);
    color:#fff;
}
.container-fluid{
    display:grid;
    text-align: center;
    padding:2% 15%;
}
.income-list,.expense-list{
    color: #fff;
}